.button {
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border: none;
  height: 60px;
  background: #4a6bff;
  /* font-size: 16px; */
  margin-top: 10px;
  transition: 0.25s;
}

.button:hover {
  transform: translateY(-2px);
}
