.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}
.main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.backButton {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #4a6bff;
  margin-bottom: 10px;
  transition: 0.25s;
}
.sheetNotes {
  /* margin-top: 5px; */
  border: #4a6bff;
}
.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.playNote {
  margin: 25px 0;
  font-size: 26px;
  font-weight: 600;
  color: #222;
}

.finishScreen {
  margin-top: 80px;
  text-align: center;
}

.finishTitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.finishButton {
  padding: 12px 24px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #4caf50;
  color: white;
  transition: 0.25s;
}

.finishButton:hover {
  background: #4caf50;
  transform: translateY(-2px);
}
.comment {
  text-align: center;
  color: #666;
  margin-top: 12px;
}
@media (max-width: 600px) {
  .main {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
