.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}
.main {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}
.backButton {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #4a6bff;
  margin-bottom: 10px;
  transition: 0.25s;
}
.sheetNotes {
  /* margin-top: 5px; */
  border: #4a6bff;
}
.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 25px;
}

.playNote {
  margin: 25px 0;
  font-size: 26px;
  font-weight: 600;
  color: #222;
}

.finishTitle {
  font-size: 36px;
  color: rgb(5, 175, 161);
  font-weight: 700;
  z-index: 2;
  position: relative;
}

.finishButton {
  padding: 12px 24px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #4caf50;
  color: white;
  transition: 0.25s;
}

.finishButton:hover {
  background: #4caf50;
  transform: translateY(-2px);
}
.animatedLogo {
  height: 40vmin;
  width: auto;
  margin-bottom: 20px;
}
.comment {
  text-align: center;
  color: #666;
  margin-top: 12px;
}

.finishScreen {
  position: relative;
  padding: 40px;
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
